/*Paramètres de style généraux (début)*/
body {
    width: auto;
    height: 100svh;
    height: 100vh;
    background-color: #fdc12a;
    margin: 0; 
    color: black;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*Paramètres de style du menu (début)*/
#menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: white;
    z-index: 100;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    background-color: black;
}

ul {
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    margin: 0.5rem;
}

.pages {
    font-size: 3rem;
    text-decoration: none;
    color: #fdc12a;
}

input {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2vw;
    padding: 0;
    border: none; 
    font-weight: bold;
}

#open {
    background-color: #fdc12a;
    color: black;
    font-size: 2.5rem;
    line-height: 0.8;
}

#close {
    background-color: black;
    color: #fdc12a;
    font-size: 1.5rem;
}

.pages:hover, #close:hover {
    color: white;
}
/*Paramètres de style du menu (fin)*/

/*Paramètres de style de l'en-tête (début)*/
header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
}

a {
    width: 64px;
    height: 64px;
    margin: 2vw;
    padding: 0;
    border: 0;
    background-color: transparent;
}
/*Paramètres de style de l'en-tête (fin)*/

/*Paramètres de style du titre (début)*/
#titre {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.lettre {
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 0.8;
    font-size: clamp(7rem, 11rem, 15rem);
}

#a {
    margin-left: 2vw;
    animation: slide 1s 1;
}

#b {
    animation: slide 1.2s 1;
}

#c {
    animation: slide 1.4s 1;
}

#d {
    animation: slide 1.6s 1;
}

#e {
    animation: slide 1.8s 1;
}

#f {
    animation: slide 2s 1;
}

#g {
    animation: slide 2.2s 1;
}

#h {
    animation: slide 2.4s 1;
}

#i {
    animation: slide 2.6s 1;
}

#j {
    animation: slide 2.8s 1;
}

@keyframes slide {
    0% {
        transform: translateY(50vh);
    }
    100% {
        transform: translateY(0);
    }
}
/*Paramètres de style du titre (fin)*/

#pot_titre {
    width: clamp(7rem, 11rem, 15rem);
    height: auto;
    margin: auto;
    right: 0;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

#lacollecte {
    display: none;
}
/*Paramètres de style généraux (fin)*/

/*Paramètres de style de la page: L'Accueil (début)*/
#accueil {
    margin: auto;
    margin-right: 2vw;
    margin-left: 35vw;
    text-align: right;
    font-size: clamp(1rem, 1.5rem, 2rem);
    overflow: hidden;
}
/*Paramètres de style de la page: L'Accueil (fin)*/

/*Paramètres de style de la page: LaCollecte (début)*/
/* !!! Cette page est disponible que sur mobile, c'est fait exprès !!! */
.lettre_lacollecte {
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 0.8;
    font-size: clamp(2rem, 4.5rem, 6rem);
}

#pot {
    margin: auto;
    margin-inline: 5vw;
    display: grid;
}

#pot > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

#pot > img {
    width: 100%;
}

#miel_qui_coule {
    margin-top: 15%;
    margin-inline: auto;
    width: 0.5rem;
    background-color: #ffc069;
    animation: miel 5s 1s linear infinite;
}

@keyframes miel {
	0% {
        height: 0;
    }

    5% {
        height: 0;
    }

    60% {
        height: 48%;
        opacity: 0.75;
    }

    85% {
        height: 70%;
        opacity: 0.5;
    }

    100% {
        height: 80%;
        opacity: 0;
    }
}
/*Paramètres de style de la page: LaCollecte (fin)*/

/*Paramètres de style de la page: LaMétéo (début)*/
/*Paramètres de style de la page: LaMétéo (fin)*/

/*Paramètres de style de la page: LeLieu (début)*/
#carte {
    width: 50vw;
    aspect-ratio: 16 / 9;
    margin: auto;
    margin-right: 2vw;
    background-color: black;
}
/*Paramètres de style de la page: LeLieu (fin)*/

/*Paramètres de style de la page: LeLive (début)*/
#live {
    width: 50vw;
    aspect-ratio: 16 / 9;
    margin: auto;
    margin-right: 2vw;
    background-color: black;
}
/*Paramètres de style de la page: LeLive (fin)*/

/*Paramètres de style de la page: L'Histoire (début)*/
#histoire {
    margin: auto;
    margin-right: 2vw;
    margin-left: 35vw;
    text-align: right;
    font-size: clamp(1rem, 1.5rem, 2rem);
    overflow: hidden;
}
/*Paramètres de style de la page: L'Histoire (fin)*/

/*Paramètres de dynamisation (début)*/
@media only screen and (max-width: 960px){
    a, #open, #close {
        margin: 5vw;
    }

    .lettre {
        font-size: clamp(3.5rem, 5.5rem, 7.5rem);
    }

    #accueil, #histoire {
        margin: auto;
        margin-inline: 5vw;
        text-align: center;
        font-size: clamp(0.25rem, 1rem, 1rem);
    }

    #pot_titre {
        display: none;
    }

    #carte, #live {
        width: auto;
        margin-inline: 5vw;
    }

    #lacollecte {
        display: initial;
    }
}
/*Paramètres de dynamisation (fin)*/
