/*Paramètres de style généraux (début)*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial;
    display: grid;
    transition: all .3s ease;
}

#menu, main {
    grid-column-start: 1;
    grid-row-start: 1;
}

/*Paramètres de style du menu (début)*/
#menu {
    z-index: 666;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

#close {
    margin-inline: auto;
    margin-right: 0;
    padding: 0;
    background-color: black;
    border: none; 
    font-size: max(16px, 2vw);
    font-weight: bold;
    color: #fdc12a;
    text-align: end;;
}

ul {
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.pages {
    text-decoration: none;
    font-size: max(20px, 3.5vw);
    color: #fdc12a;
}

.pages:hover, #close:hover {
    color: white;
}

#lacollecte {
    display: none;
}
/*Paramètres de style du menu (fin)*/

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 2vw;
    background-color: #fdc12a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2vw;
}

/*Paramètres de style de l'en-tête (début)*/
header {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#home_button {
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: transparent;
    border: 0;
}

#logo {
    width: max(32px, 4.75vw);
    height: max(32px, 4.75vw);
}

#open {
    padding: 0;
    background-color: #fdc12a;
    border: none;
    font-size: max(24px, 3vw);
    font-weight: bold;
    line-height: 0.8;
}
/*Paramètres de style de l'en-tête (fin)*/

/*Paramètres de style du pied de page (début)*/
footer {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/*Paramètres de style du titre (début)*/
#titre {
    display: inline-flex;
    flex-direction: row;
    line-height: 0.75;
    font-size: 13vw;
    overflow: hidden;
}

#a {
    animation: slide 1s 1;
}

#b {
    animation: slide 1.2s 1;
}

#c {
    animation: slide 1.4s 1;
}

#d {
    animation: slide 1.6s 1;
}

#e {
    animation: slide 1.8s 1;
}

#f {
    animation: slide 2s 1;
}

#g {
    animation: slide 2.2s 1;
}

#h {
    animation: slide 2.4s 1;
}

#i {
    animation: slide 2.6s 1;
}

#j {
    animation: slide 2.8s 1;
}

#k {
    animation: slide 3s 1;
}

#l {
    animation: slide 3.2s 1;
}

#m {
    animation: slide 3.4s 1;
}

#n {
    animation: slide 3.6s 1;
}

@keyframes slide {
    0% {
        transform: translateY(50vh);
    }
    100% {
        transform: translateY(0);
    }
}
/*Paramètres de style du titre (fin)*/

/*Paramètres de style du pot de miel du titre (début)*/
#pot {
    width: 12vw;
    display: grid;
}

#pot > img, #miel_qui_coule {
    grid-column-start: 1;
    grid-row-start: 1;
}

#pot > img {
    width: 12vw;
}

#miel_qui_coule {
    height: 75%;
    margin-top: 20%;
    margin-inline: auto;
    margin-left: 45%;
    width: 0.5vw;
    background-color: #ffc069;
    animation: miel 5s 1s ease-in infinite;
}

@keyframes miel {
	0% {
        height: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        height: 80%;
        opacity: 0;
    }
}
/*Paramètres de style du pot de miel du titre (fin)*/
/*Paramètres de style du pied de page (fin)*/
/*Paramètres de style généraux (fin)*/

/*Paramètres de style de la page: L'Accueil (début)*/
#accueil {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    text-align: end;
    font-size: 5vw;
}

#date, #heure {
    text-align: end;
    font-size: 2.5vw;
}
/*Paramètres de style de la page: L'Accueil (fin)*/

/*Paramètres de style de la page: LaCollecte (début)*/
/* !!! Cette page n'est disponible que sur mobile, c'est fait exprès !!! */
#titre_lacollecte {
    display: inline-flex;
    flex-direction: row;
    line-height: 0.75;
    font-size: 13vw;
    overflow: hidden;
}

#pot_lacollecte {
    width: auto;
    margin-inline: 0.0000001vw;
    display: grid;
}

#pot_lacollecte > img, #miel_qui_coule_lacollecte {
    grid-column-start: 1;
    grid-row-start: 1;
}

#pot_lacollecte > img {
    width: 100%;
}

#miel_qui_coule_lacollecte {
    height: 75%;
    margin-top: 20%;
    margin-inline: auto;
    margin-left: 45%;
    width: 2vw;
    background-color: #ffc069;
    animation: miel 5s 1s ease-in infinite;
}
/*Paramètres de style de la page: LaCollecte (fin)*/

/*Paramètres de style de la page: LaMétéo (début)*/
#meteo {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    text-align: center;
}

.contenu {
    width: 20vw;
    padding: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 4px;
    transition: all .3s ease;
    background-color: #ffb100;
}

.contenu > * {
    flex: 1 1 100%;
}

.contenu > h2 {
    margin: 0;
    font-size: max(16px, 2.5vw);
    letter-spacing: 1px;
}

.contenu > a {
    padding: 1.25vw;
    background-color: black;
    border-radius: 25px;
    transition: .3s ease;
    font-size: max(12px, 1.25vw);
    color: white;
    text-decoration: none;
}

.contenu > span {
    margin: 1vw;
    margin-inline: 0;
    font-size: max(14px, 2vw);
}

.contenu:hover {
    background-color: white;
}

.contenu > a:hover {
    border-radius: 4px;
}

#titres_meteo {
    display: inline-flex;
    flex-direction: row;
    line-height: 0.75;
    font-size: 11vw;
    overflow: hidden;
}
/*Paramètres de style de la page: LaMétéo (fin)*/

/*Paramètres de style de la page: LeLieu (début)*/
#carte {
    width: 50vw;
    margin-inline: auto;
    margin-right: 0;
    aspect-ratio: 16 / 9;
    background-color: black;
}
/*Paramètres de style de la page: LeLieu (fin)*/

/*Paramètres de style de la page: LeLive (début)*/
#live {
    width: 45vw;
    margin-inline: auto;
    margin-right: 0;
    aspect-ratio: 16 / 9;
    background-color: black;
}
/*Paramètres de style de la page: LeLive (fin)*/

/*Paramètres de style de la page: L'Histoire (début)*/
#p_histoire {
    margin: auto;
    font-size: max(16px, 1.75vw);
    text-align: right;
    margin-left: 30%
}
/*Paramètres de style de la page: L'Histoire (fin)*/

/*Paramètres de style pour mobile (début)*/
@media only screen and (max-width: 960px){
    #menu, main {
        padding: 5vw;
    }

    .pages {
        font-size: max(20px, 4vh);
    }

    #lacollecte {
        display: initial;
    }

    #logo {
        width: max(32px, 4.75vh);
        height: max(32px, 4.75vh);
    }

    #open, #close {
        font-size: max(24px, 3vh); 
    }

    #titre {
        font-size: 9vh;
    }

    #pot {
        display: none;
    }

    h1 {
        margin-inline: auto;
        font-size: 6vh;
    }
    
    #date, #heure {
        margin-inline: auto;
        text-align: center;
        font-size: 2.5vh;
    }

    #p_histoire {
        margin: auto;
        text-align: center;
        font-size: max(16px, 2.5vh);
    }

    #titre_lacollecte {
        font-size: 8.5vh;
    }

    #carte, #live {
        width: auto;
        margin-inline: 0.0000001vw;
    }

    #meteo {
        margin-inline: initial;
        flex-direction: column;
        column-gap: 0;
        row-gap: 4vh;
    }

    .contenu {
        width: 60vw;
        margin-inline: auto;
        padding: 5vw;
    }

    .contenu > h2 {
        font-size: max(16px, 2.5vh);
    }

    .contenu > a {
        padding: 1.25vh;
        font-size: max(12px, 1.75vh);
    }

    .contenu > span {
        margin: 2vh;
        font-size: max(14px, 2vh);
    }
}
/*Paramètres de style pour mobile (fin)*/
