body {
    width: auto;
    height: 100vh;
    height: 100svh;
    background-color: #fdc12a;
    margin: 0; 
    color: black;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
}

a {
    width: 64px;
    height: 64px;
    margin: 2vw;
    padding: 0;
    border: 0;
    background-color: transparent;
}

main {
    margin: auto;
    margin-right: 2vw;
    margin-left: 35vw;
    text-align: right;
    font-size: clamp(1rem, 1.5rem, 2rem);
    overflow: hidden;
}

#titre {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.lettre {
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 0.8;
    font-size: clamp(7rem, 11rem, 15rem);
}

#a {
    margin-left: 2vw;
    animation: slide 1s 1;
}

#b {
    animation: slide 1.2s 1;
}

#c {
    animation: slide 1.4s 1;
}

#d {
    animation: slide 1.6s 1;
}

#e {
    animation: slide 1.8s 1;
}

#f {
    animation: slide 2s 1;
}

#g {
    animation: slide 2.2s 1;
}

#h {
    animation: slide 2.4s 1;
}

#i {
    animation: slide 2.6s 1;
}

#j {
    animation: slide 2.8s 1;
}

@keyframes slide {
    0% {
        transform: translateY(50vh);
    }
    100% {
        transform: translateY(0);
    }
}

.centre {
    width: 50vw;
    aspect-ratio: 16 / 9;
    margin: auto;
    margin-right: 2vw;
    background-color: black;
}

@media only screen and (max-width: 960px){
    main {
        margin: auto;
        margin-inline: 5vw;
        text-align: center;
        font-size: clamp(0.25rem, 1rem, 1rem);
    }
    
    .lettre {
        font-size: clamp(3.5rem, 5.5rem, 7.5rem);
    }

    .centre {
        width: auto;
        margin-inline: 5vw;
    }
}